services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: retro
      POSTGRES_PASSWORD: retro
      POSTGRES_DB: retrovault
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://retro:retro@db:5432/retrovault
      SECRET_KEY: supersecretkey
    ports:
      - "8000:8000"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
